@charset "UTF-8";

/* div#container { */
/*     width:95%; */
/*     height:100%; */
/*     margin:0 auto; */
/*     background:#FFFFFF; */
/*     /\* border-left:#CCCCCC 1px solid; *\/ */
/*     /\* border-right:#CCCCCC 1px solid; *\/ */
/*     padding:10px 10px 10px 10px; */
/* } */

div.button-container {
    padding:2px 2px 2px 2px;
}

div.controller {
    width:95%;
    height:100%;
    margin:0 auto;
    background:#EEFFFF;
    /* border-left:#CCCCCC 1px solid; */
    /* border-right:#CCCCCC 1px solid; */
    padding:10px 10px 10px 10px;
}

div#monitor {
    margin:0 auto;
    background:#FFEEFF;
    /* border-left:#CCCCCC 1px solid; */
    /* border-right:#CCCCCC 1px solid; */
}


div#map{
    width: 800px;
    height: 600px;

    /* position:absolute; */
    /* top:0; */
    /* left:0; */
    /* right:0; */
    /* contentbottom:0 */
}

div.divroute{
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
    vertical-align: middle;
    background:#EEFFFF;
}
